spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cart_db
    username: <your-postgres-user>
    password: <your-postgres-password>

  data:
    redis:
      host: localhost
      port: 6379

security:
  enabled: false
